body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17714 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:20px;
}
#u17715 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u17716 {
  position:absolute;
  left:416px;
  top:104px;
  width:25px;
  height:13px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u17717 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u17718 {
  position:absolute;
  left:265px;
  top:104px;
  width:50px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u17719 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u17720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u17720 {
  position:absolute;
  left:107px;
  top:105px;
  width:15px;
  height:10px;
}
#u17721 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u17722 {
  position:absolute;
  left:126px;
  top:106px;
  width:13px;
  height:9px;
}
#u17723 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u17724 {
  position:absolute;
  left:402px;
  top:103px;
  width:8px;
  height:14px;
}
#u17725 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u17726 {
  position:absolute;
  left:446px;
  top:105px;
  width:25px;
  height:11px;
}
#u17727 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17728 {
  position:absolute;
  left:100px;
  top:120px;
  width:375px;
  height:647px;
}
#u17729 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17730 {
  position:absolute;
  left:100px;
  top:28px;
  width:123px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17731 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u17732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17732 {
  position:absolute;
  left:120px;
  top:140px;
  width:30px;
  height:30px;
}
#u17733 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u17734 {
  position:absolute;
  left:385px;
  top:141px;
  width:74px;
  height:29px;
  color:#000000;
}
#u17735 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17736 {
  position:absolute;
  left:429px;
  top:601px;
  width:30px;
  height:30px;
}
#u17737 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u17738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17738 {
  position:absolute;
  left:429px;
  top:654px;
  width:30px;
  height:30px;
}
#u17739 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u17740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u17740 {
  position:absolute;
  left:120px;
  top:714px;
  width:339px;
  height:42px;
  font-size:14px;
}
#u17741 {
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u17742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17742 {
  position:absolute;
  left:179px;
  top:353px;
  width:74px;
  height:29px;
}
#u17743 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17744 {
  position:absolute;
  left:285px;
  top:286px;
  width:74px;
  height:29px;
}
#u17745 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17746 {
  position:absolute;
  left:192px;
  top:409px;
  width:74px;
  height:29px;
}
#u17747 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17748 {
  position:absolute;
  left:369px;
  top:345px;
  width:74px;
  height:29px;
}
#u17749 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17750 {
  position:absolute;
  left:126px;
  top:298px;
  width:74px;
  height:29px;
}
#u17751 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17752 {
  position:absolute;
  left:232px;
  top:231px;
  width:74px;
  height:29px;
}
#u17753 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17754 {
  position:absolute;
  left:170px;
  top:459px;
  width:74px;
  height:29px;
}
#u17755 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17756 {
  position:absolute;
  left:276px;
  top:392px;
  width:74px;
  height:29px;
}
#u17757 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17758 {
  position:absolute;
  left:275px;
  top:345px;
  width:74px;
  height:29px;
}
#u17759 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17760 {
  position:absolute;
  left:359px;
  top:404px;
  width:74px;
  height:29px;
}
#u17761 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 0.827450980392157);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17762 {
  position:absolute;
  left:266px;
  top:451px;
  width:74px;
  height:29px;
}
#u17763 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
