body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11810 {
  position:absolute;
  left:100px;
  top:28px;
  width:87px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11811 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u11812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11812 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11813 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11816 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:20px;
}
#u11817 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u11818 {
  position:absolute;
  left:416px;
  top:104px;
  width:25px;
  height:13px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u11819 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u11820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u11820 {
  position:absolute;
  left:265px;
  top:104px;
  width:50px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u11821 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u11822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u11822 {
  position:absolute;
  left:107px;
  top:105px;
  width:15px;
  height:10px;
}
#u11823 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u11824 {
  position:absolute;
  left:126px;
  top:106px;
  width:13px;
  height:9px;
}
#u11825 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u11826 {
  position:absolute;
  left:402px;
  top:103px;
  width:8px;
  height:14px;
}
#u11827 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u11828 {
  position:absolute;
  left:446px;
  top:105px;
  width:25px;
  height:11px;
}
#u11829 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(106, 106, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11830 {
  position:absolute;
  left:100px;
  top:120px;
  width:375px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11831 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u11832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11832 {
  position:absolute;
  left:113px;
  top:126px;
  width:20px;
  height:20px;
}
#u11833 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11834 {
  position:absolute;
  left:426px;
  top:127px;
  width:30px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11835 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u11836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:615px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11836 {
  position:absolute;
  left:100px;
  top:152px;
  width:375px;
  height:615px;
}
#u11837 {
  position:absolute;
  left:2px;
  top:300px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11839 {
  position:absolute;
  left:100px;
  top:718px;
  width:375px;
  height:49px;
}
#u11840 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u11841 {
  position:absolute;
  left:367px;
  top:718px;
  width:108px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
}
#u11842 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u11843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11844 {
  position:absolute;
  left:113px;
  top:731px;
  width:24px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u11845 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u11846 {
  position:absolute;
  left:142px;
  top:731px;
  width:38px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u11847 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u11848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11848 {
  position:absolute;
  left:100px;
  top:152px;
  width:375px;
  height:41px;
}
#u11849 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11850 {
  position:absolute;
  left:113px;
  top:164px;
  width:44px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11851 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u11852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11852 {
  position:absolute;
  left:167px;
  top:164px;
  width:169px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11853 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u11854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11854 {
  position:absolute;
  left:386px;
  top:164px;
  width:44px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11855 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u11856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11856 {
  position:absolute;
  left:436px;
  top:163px;
  width:20px;
  height:20px;
}
#u11857 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11859 {
  position:absolute;
  left:100px;
  top:212px;
  width:375px;
  height:100px;
}
#u11860 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11861 {
  position:absolute;
  left:152px;
  top:222px;
  width:80px;
  height:80px;
}
#u11862 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11864 {
  position:absolute;
  left:113px;
  top:248px;
  width:24px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u11865 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11866 {
  position:absolute;
  left:242px;
  top:222px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11867 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#33CC99;
}
#u11868 {
  position:absolute;
  left:242px;
  top:280px;
  width:56px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#33CC99;
}
#u11869 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u11870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11870 {
  position:absolute;
  left:301px;
  top:284px;
  width:44px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11871 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u11872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11873 {
  position:absolute;
  left:397px;
  top:278px;
  width:24px;
  height:24px;
  font-size:36px;
  color:#FFFFFF;
}
#u11874 {
  position:absolute;
  left:0px;
  top:-10px;
  width:24px;
  word-wrap:break-word;
}
#u11875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11876 {
  position:absolute;
  left:443px;
  top:278px;
  width:24px;
  height:24px;
  font-size:36px;
  color:#FFFFFF;
}
#u11877 {
  position:absolute;
  left:0px;
  top:-10px;
  width:24px;
  word-wrap:break-word;
}
#u11878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11878 {
  position:absolute;
  left:429px;
  top:282px;
  width:9px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11879 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u11880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11881 {
  position:absolute;
  left:100px;
  top:331px;
  width:375px;
  height:100px;
}
#u11882 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11883 {
  position:absolute;
  left:152px;
  top:341px;
  width:80px;
  height:80px;
}
#u11884 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11886 {
  position:absolute;
  left:113px;
  top:367px;
  width:24px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u11887 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11888 {
  position:absolute;
  left:242px;
  top:341px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11889 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#33CC99;
}
#u11890 {
  position:absolute;
  left:242px;
  top:399px;
  width:56px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#33CC99;
}
#u11891 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u11892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11892 {
  position:absolute;
  left:301px;
  top:403px;
  width:44px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11893 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u11894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11895 {
  position:absolute;
  left:397px;
  top:397px;
  width:24px;
  height:24px;
  font-size:36px;
  color:#FFFFFF;
}
#u11896 {
  position:absolute;
  left:0px;
  top:-10px;
  width:24px;
  word-wrap:break-word;
}
#u11897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11898 {
  position:absolute;
  left:443px;
  top:397px;
  width:24px;
  height:24px;
  font-size:36px;
  color:#FFFFFF;
}
#u11899 {
  position:absolute;
  left:0px;
  top:-10px;
  width:24px;
  word-wrap:break-word;
}
#u11900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11900 {
  position:absolute;
  left:429px;
  top:401px;
  width:9px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11901 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u11902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11903 {
  position:absolute;
  left:100px;
  top:450px;
  width:375px;
  height:134px;
}
#u11904 {
  position:absolute;
  left:2px;
  top:59px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11905 {
  position:absolute;
  left:152px;
  top:494px;
  width:80px;
  height:80px;
}
#u11906 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11908 {
  position:absolute;
  left:113px;
  top:520px;
  width:24px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u11909 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11910 {
  position:absolute;
  left:242px;
  top:494px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11911 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#33CC99;
}
#u11912 {
  position:absolute;
  left:242px;
  top:552px;
  width:56px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#33CC99;
}
#u11913 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u11914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11914 {
  position:absolute;
  left:301px;
  top:556px;
  width:44px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11915 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u11916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11917 {
  position:absolute;
  left:397px;
  top:550px;
  width:24px;
  height:24px;
  font-size:36px;
  color:#FFFFFF;
}
#u11918 {
  position:absolute;
  left:0px;
  top:-10px;
  width:24px;
  word-wrap:break-word;
}
#u11919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11920 {
  position:absolute;
  left:443px;
  top:550px;
  width:24px;
  height:24px;
  font-size:36px;
  color:#FFFFFF;
}
#u11921 {
  position:absolute;
  left:0px;
  top:-10px;
  width:24px;
  word-wrap:break-word;
}
#u11922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11922 {
  position:absolute;
  left:429px;
  top:554px;
  width:9px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11923 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u11924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11924 {
  position:absolute;
  left:242px;
  top:520px;
  width:99px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11925 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11926 {
  position:absolute;
  left:113px;
  top:462px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11927 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u11928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11928 {
  position:absolute;
  left:153px;
  top:462px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u11929 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
