body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14801 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14802 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14805 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:20px;
}
#u14806 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u14807 {
  position:absolute;
  left:416px;
  top:104px;
  width:25px;
  height:13px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u14808 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14809 {
  position:absolute;
  left:265px;
  top:104px;
  width:50px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14810 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u14811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u14811 {
  position:absolute;
  left:107px;
  top:105px;
  width:15px;
  height:10px;
}
#u14812 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u14813 {
  position:absolute;
  left:126px;
  top:106px;
  width:13px;
  height:9px;
}
#u14814 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u14815 {
  position:absolute;
  left:402px;
  top:103px;
  width:8px;
  height:14px;
}
#u14816 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u14817 {
  position:absolute;
  left:446px;
  top:105px;
  width:25px;
  height:11px;
}
#u14818 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14819 {
  position:absolute;
  left:100px;
  top:28px;
  width:140px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14820 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u14821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u14821 {
  position:absolute;
  left:100px;
  top:120px;
  width:375px;
  height:32px;
  font-size:14px;
  color:#000000;
}
#u14822 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14823 {
  position:absolute;
  left:113px;
  top:126px;
  width:20px;
  height:20px;
}
#u14824 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14826 {
  position:absolute;
  left:188px;
  top:176px;
  width:200px;
  height:65px;
}
#u14827 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:63px;
  background:inherit;
  background-color:rgba(106, 106, 106, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14828 {
  position:absolute;
  left:189px;
  top:177px;
  width:99px;
  height:63px;
}
#u14829 {
  position:absolute;
  left:2px;
  top:24px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14830 {
  position:absolute;
  left:310px;
  top:200px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14831 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u14832 {
  position:absolute;
  left:201px;
  top:256px;
  width:174px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u14833 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u14835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u14836 {
  position:absolute;
  left:100px;
  top:316px;
  width:375px;
  height:1px;
}
#u14837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u14839 {
  position:absolute;
  left:164px;
  top:327px;
  width:1px;
  height:26px;
}
#u14840 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14841 {
  position:absolute;
  left:185px;
  top:327px;
  width:1px;
  height:14px;
}
#u14842 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14843 {
  position:absolute;
  left:205px;
  top:327px;
  width:1px;
  height:14px;
}
#u14844 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14845 {
  position:absolute;
  left:225px;
  top:327px;
  width:1px;
  height:14px;
}
#u14846 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14847 {
  position:absolute;
  left:245px;
  top:327px;
  width:1px;
  height:14px;
}
#u14848 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u14850 {
  position:absolute;
  left:265px;
  top:327px;
  width:1px;
  height:26px;
}
#u14851 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14852 {
  position:absolute;
  left:286px;
  top:327px;
  width:1px;
  height:14px;
}
#u14853 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14854 {
  position:absolute;
  left:306px;
  top:327px;
  width:1px;
  height:14px;
}
#u14855 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14856 {
  position:absolute;
  left:326px;
  top:327px;
  width:1px;
  height:14px;
}
#u14857 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14858 {
  position:absolute;
  left:346px;
  top:327px;
  width:1px;
  height:14px;
}
#u14859 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u14861 {
  position:absolute;
  left:365px;
  top:327px;
  width:1px;
  height:26px;
}
#u14862 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14863 {
  position:absolute;
  left:386px;
  top:327px;
  width:1px;
  height:14px;
}
#u14864 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14865 {
  position:absolute;
  left:406px;
  top:327px;
  width:1px;
  height:14px;
}
#u14866 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14867 {
  position:absolute;
  left:426px;
  top:327px;
  width:1px;
  height:14px;
}
#u14868 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u14869 {
  position:absolute;
  left:446px;
  top:327px;
  width:1px;
  height:14px;
}
#u14870 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u14872 {
  position:absolute;
  left:465px;
  top:327px;
  width:1px;
  height:26px;
}
#u14873 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u14874 {
  position:absolute;
  left:159px;
  top:373px;
  width:14px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u14875 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u14876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u14876 {
  position:absolute;
  left:260px;
  top:373px;
  width:15px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u14877 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u14878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u14878 {
  position:absolute;
  left:359px;
  top:373px;
  width:15px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u14879 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u14880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u14880 {
  position:absolute;
  left:460px;
  top:373px;
  width:15px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u14881 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u14882_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:45px;
}
#u14882 {
  position:absolute;
  left:264px;
  top:327px;
  width:2px;
  height:42px;
}
#u14883 {
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u14884 {
  position:absolute;
  left:100px;
  top:408px;
  width:375px;
  height:1px;
}
#u14885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14886 {
  position:absolute;
  left:273px;
  top:415px;
  width:30px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14887 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14888 {
  position:absolute;
  left:113px;
  top:521px;
  width:75px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14889 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14890 {
  position:absolute;
  left:113px;
  top:568px;
  width:75px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14891 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u14892 {
  position:absolute;
  left:113px;
  top:553px;
  width:345px;
  height:1px;
}
#u14893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u14894 {
  position:absolute;
  left:113px;
  top:602px;
  width:345px;
  height:1px;
}
#u14895 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14896 {
  position:absolute;
  left:332px;
  top:569px;
  width:96px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14897 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u14898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14898 {
  position:absolute;
  left:438px;
  top:567px;
  width:20px;
  height:20px;
}
#u14899 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14901 {
  position:absolute;
  left:407px;
  top:517px;
  width:51px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u14902 {
  position:absolute;
  left:0px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14903_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:31px;
  height:31px;
}
#u14903 {
  position:absolute;
  left:409px;
  top:518px;
  width:27px;
  height:27px;
  font-size:14px;
  color:#FFFFFF;
}
#u14904 {
  position:absolute;
  left:0px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:99px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14905 {
  position:absolute;
  left:186px;
  top:698px;
  width:199px;
  height:40px;
  font-size:18px;
}
#u14906 {
  position:absolute;
  left:2px;
  top:9px;
  width:195px;
  word-wrap:break-word;
}
#u14907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(4, 4, 15, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14907 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14908 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14911 {
  position:absolute;
  left:100px;
  top:152px;
  width:375px;
  height:615px;
}
#u14912 {
  position:absolute;
  left:2px;
  top:300px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14913_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:6px;
}
#u14913 {
  position:absolute;
  left:272px;
  top:164px;
  width:31px;
  height:3px;
}
#u14914 {
  position:absolute;
  left:2px;
  top:-6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u14915 {
  position:absolute;
  left:113px;
  top:192px;
  width:113px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u14916 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u14917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14917 {
  position:absolute;
  left:379px;
  top:200px;
  width:73px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14918 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14919 {
  position:absolute;
  left:113px;
  top:248px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14920 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14921 {
  position:absolute;
  left:113px;
  top:268px;
  width:347px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14922 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u14923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14924 {
  position:absolute;
  left:263px;
  top:299px;
  width:140px;
  height:140px;
}
#u14925 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14926 {
  position:absolute;
  left:276px;
  top:317px;
  width:75px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14927 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14928 {
  position:absolute;
  left:276px;
  top:349px;
  width:116px;
  height:35px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14929 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u14930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u14930 {
  position:absolute;
  left:270px;
  top:401px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u14931 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:140px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14932 {
  position:absolute;
  left:413px;
  top:299px;
  width:62px;
  height:140px;
}
#u14933 {
  position:absolute;
  left:2px;
  top:62px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14935 {
  position:absolute;
  left:113px;
  top:299px;
  width:140px;
  height:140px;
}
#u14936 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14937 {
  position:absolute;
  left:127px;
  top:316px;
  width:75px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14938 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14939 {
  position:absolute;
  left:127px;
  top:348px;
  width:116px;
  height:35px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14940 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u14941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u14941 {
  position:absolute;
  left:121px;
  top:400px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u14942 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14943 {
  position:absolute;
  left:113px;
  top:449px;
  width:70px;
  height:29px;
}
#u14944 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u14945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14945 {
  position:absolute;
  left:263px;
  top:449px;
  width:70px;
  height:29px;
}
#u14946 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u14947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:51px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14947 {
  position:absolute;
  left:413px;
  top:449px;
  width:62px;
  height:29px;
}
#u14948 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u14949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14949 {
  position:absolute;
  left:100px;
  top:488px;
  width:375px;
  height:9px;
}
#u14950 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14952 {
  position:absolute;
  left:113px;
  top:504px;
  width:96px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14953 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u14954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14954 {
  position:absolute;
  left:390px;
  top:504px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14955 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14956 {
  position:absolute;
  left:450px;
  top:502px;
  width:20px;
  height:20px;
}
#u14957 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14959 {
  position:absolute;
  left:113px;
  top:532px;
  width:60px;
  height:60px;
}
#u14960 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14961 {
  position:absolute;
  left:183px;
  top:540px;
  width:30px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14962 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u14963 {
  position:absolute;
  left:183px;
  top:568px;
  width:105px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u14964 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u14965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33CC99;
}
#u14965 {
  position:absolute;
  left:379px;
  top:550px;
  width:89px;
  height:29px;
  color:#33CC99;
}
#u14966 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u14967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14968 {
  position:absolute;
  left:113px;
  top:602px;
  width:60px;
  height:60px;
}
#u14969 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14970 {
  position:absolute;
  left:183px;
  top:610px;
  width:30px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14971 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u14972 {
  position:absolute;
  left:183px;
  top:638px;
  width:105px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u14973 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u14974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14974 {
  position:absolute;
  left:379px;
  top:620px;
  width:89px;
  height:29px;
}
#u14975 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u14976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14976 {
  position:absolute;
  left:100px;
  top:666px;
  width:375px;
  height:9px;
}
#u14977 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14979 {
  position:absolute;
  left:113px;
  top:679px;
  width:114px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14980 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u14981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14981 {
  position:absolute;
  left:390px;
  top:679px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6A6A6A;
}
#u14982 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14983 {
  position:absolute;
  left:450px;
  top:677px;
  width:20px;
  height:20px;
}
#u14984 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14986 {
  position:absolute;
  left:113px;
  top:707px;
  width:60px;
  height:60px;
}
#u14987 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14988 {
  position:absolute;
  left:183px;
  top:715px;
  width:30px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u14989 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u14990 {
  position:absolute;
  left:183px;
  top:743px;
  width:105px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u14991 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u14992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:51px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14992 {
  position:absolute;
  left:379px;
  top:725px;
  width:89px;
  height:29px;
}
#u14993 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
