body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14193 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14194 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14197 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:20px;
}
#u14198 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u14199 {
  position:absolute;
  left:416px;
  top:104px;
  width:25px;
  height:13px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u14200 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14201 {
  position:absolute;
  left:265px;
  top:104px;
  width:50px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14202 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u14203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u14203 {
  position:absolute;
  left:107px;
  top:105px;
  width:15px;
  height:10px;
}
#u14204 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u14205 {
  position:absolute;
  left:126px;
  top:106px;
  width:13px;
  height:9px;
}
#u14206 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u14207 {
  position:absolute;
  left:402px;
  top:103px;
  width:8px;
  height:14px;
}
#u14208 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u14209 {
  position:absolute;
  left:446px;
  top:105px;
  width:25px;
  height:11px;
}
#u14210 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#564D60;
}
#u14212 {
  position:absolute;
  left:120px;
  top:166px;
  width:59px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#564D60;
}
#u14213 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14214 {
  position:absolute;
  left:205px;
  top:166px;
  width:73px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14215 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14216 {
  position:absolute;
  left:304px;
  top:166px;
  width:30px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14217 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14218 {
  position:absolute;
  left:416px;
  top:166px;
  width:59px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14219 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14220_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:20px;
  height:5px;
}
#u14220 {
  position:absolute;
  left:140px;
  top:196px;
  width:17px;
  height:2px;
  color:#564D60;
}
#u14221 {
  position:absolute;
  left:2px;
  top:-7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14222 {
  position:absolute;
  left:360px;
  top:166px;
  width:30px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u14223 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:520px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.576470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14224 {
  position:absolute;
  left:100px;
  top:199px;
  width:375px;
  height:520px;
}
#u14225 {
  position:absolute;
  left:2px;
  top:252px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14226 {
  position:absolute;
  left:100px;
  top:719px;
  width:375px;
  height:48px;
}
#u14227 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14228 {
  position:absolute;
  left:133px;
  top:749px;
  width:25px;
  height:14px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14229 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C2C1C6;
}
#u14230 {
  position:absolute;
  left:201px;
  top:749px;
  width:25px;
  height:14px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C2C1C6;
}
#u14231 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#534B5D;
}
#u14232 {
  position:absolute;
  left:274px;
  top:749px;
  width:25px;
  height:14px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#534B5D;
}
#u14233 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u14234 {
  position:absolute;
  left:353px;
  top:730px;
  width:12px;
  height:15px;
}
#u14235 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14236 {
  position:absolute;
  left:347px;
  top:749px;
  width:25px;
  height:14px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14237 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14238 {
  position:absolute;
  left:426px;
  top:731px;
  width:12px;
  height:13px;
}
#u14239 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14240 {
  position:absolute;
  left:425px;
  top:749px;
  width:13px;
  height:14px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14241 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u14242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#564D60;
}
#u14242 {
  position:absolute;
  left:112px;
  top:134px;
  width:38px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#564D60;
}
#u14243 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14244 {
  position:absolute;
  left:443px;
  top:136px;
  width:20px;
  height:20px;
}
#u14245 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u14246 {
  position:absolute;
  left:139px;
  top:730px;
  width:12px;
  height:15px;
}
#u14247 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14248 {
  position:absolute;
  left:100px;
  top:199px;
  width:375px;
  height:266px;
}
#u14249 {
  position:absolute;
  left:2px;
  top:125px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14250 {
  position:absolute;
  left:128px;
  top:435px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14251 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14252 {
  position:absolute;
  left:221px;
  top:435px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14253 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14254 {
  position:absolute;
  left:314px;
  top:435px;
  width:44px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14255 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u14256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14256 {
  position:absolute;
  left:392px;
  top:435px;
  width:71px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14257 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14258 {
  position:absolute;
  left:100px;
  top:480px;
  width:375px;
  height:239px;
}
#u14259 {
  position:absolute;
  left:2px;
  top:112px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14260 {
  position:absolute;
  left:120px;
  top:498px;
  width:59px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14261 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:179px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14262 {
  position:absolute;
  left:112px;
  top:526px;
  width:351px;
  height:179px;
}
#u14263 {
  position:absolute;
  left:2px;
  top:82px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u14264 {
  position:absolute;
  left:282px;
  top:729px;
  width:12px;
  height:16px;
}
#u14265 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u14266 {
  position:absolute;
  left:206px;
  top:730px;
  width:15px;
  height:15px;
}
#u14267 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u14268 {
  position:absolute;
  left:402px;
  top:135px;
  width:25px;
  height:22px;
}
#u14269 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C2C1C6;
}
#u14271 {
  position:absolute;
  left:120px;
  top:215px;
  width:157px;
  height:14px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C2C1C6;
}
#u14272 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u14273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u14273 {
  position:absolute;
  left:120px;
  top:239px;
  width:176px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u14274 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u14275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14275 {
  position:absolute;
  left:443px;
  top:240px;
  width:20px;
  height:20px;
}
#u14276 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 204, 0.556862745098039);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14277 {
  position:absolute;
  left:100px;
  top:289px;
  width:375px;
  height:60px;
}
#u14278 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u14279 {
  position:absolute;
  left:120px;
  top:312px;
  width:15px;
  height:15px;
}
#u14280 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C2C1C6;
}
#u14281 {
  position:absolute;
  left:148px;
  top:311px;
  width:175px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C2C1C6;
}
#u14282 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u14283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14283 {
  position:absolute;
  left:376px;
  top:305px;
  width:87px;
  height:30px;
}
#u14284 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#66CC00;
}
#u14285 {
  position:absolute;
  left:398px;
  top:311px;
  width:44px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#66CC00;
}
#u14286 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u14287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14287 {
  position:absolute;
  left:120px;
  top:359px;
  width:103px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14288 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u14289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14289 {
  position:absolute;
  left:138px;
  top:385px;
  width:40px;
  height:40px;
}
#u14290 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14291 {
  position:absolute;
  left:231px;
  top:385px;
  width:40px;
  height:40px;
}
#u14292 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14293 {
  position:absolute;
  left:316px;
  top:385px;
  width:40px;
  height:40px;
}
#u14294 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14295 {
  position:absolute;
  left:404px;
  top:385px;
  width:40px;
  height:40px;
}
#u14296 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14297 {
  position:absolute;
  left:120px;
  top:553px;
  width:130px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14298 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u14299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14299 {
  position:absolute;
  left:425px;
  top:554px;
  width:20px;
  height:20px;
}
#u14300 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u14301 {
  position:absolute;
  left:120px;
  top:581px;
  width:70px;
  height:13px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u14302 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:left;
}
#u14303 {
  position:absolute;
  left:134px;
  top:654px;
  width:308px;
  height:31px;
  font-size:10px;
  text-align:left;
}
#u14304 {
  position:absolute;
  left:2px;
  top:9px;
  width:304px;
  word-wrap:break-word;
}
#u14305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:46px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);
  font-size:30px;
  color:#797979;
}
#u14305 {
  position:absolute;
  left:415px;
  top:650px;
  width:40px;
  height:40px;
  font-size:30px;
  color:#797979;
}
#u14306 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u14307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14307 {
  position:absolute;
  left:100px;
  top:28px;
  width:87px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14308 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u14309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(4, 4, 15, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14309 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14310 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14313 {
  position:absolute;
  left:100px;
  top:320px;
  width:375px;
  height:447px;
}
#u14314 {
  position:absolute;
  left:2px;
  top:216px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14315_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:6px;
}
#u14315 {
  position:absolute;
  left:276px;
  top:332px;
  width:31px;
  height:3px;
}
#u14316 {
  position:absolute;
  left:2px;
  top:-6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14317 {
  position:absolute;
  left:149px;
  top:380px;
  width:50px;
  height:50px;
}
#u14318 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14319 {
  position:absolute;
  left:150px;
  top:476px;
  width:50px;
  height:50px;
}
#u14320 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14321 {
  position:absolute;
  left:264px;
  top:380px;
  width:50px;
  height:50px;
}
#u14322 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14323 {
  position:absolute;
  left:265px;
  top:476px;
  width:50px;
  height:50px;
}
#u14324 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14325 {
  position:absolute;
  left:377px;
  top:380px;
  width:50px;
  height:50px;
}
#u14326 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14327 {
  position:absolute;
  left:378px;
  top:476px;
  width:50px;
  height:50px;
}
#u14328 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14329 {
  position:absolute;
  left:134px;
  top:440px;
  width:75px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14330 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14331 {
  position:absolute;
  left:270px;
  top:440px;
  width:38px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14332 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14333 {
  position:absolute;
  left:383px;
  top:440px;
  width:38px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14334 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14335 {
  position:absolute;
  left:155px;
  top:536px;
  width:38px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14336 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14337 {
  position:absolute;
  left:269px;
  top:536px;
  width:38px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14338 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14339 {
  position:absolute;
  left:366px;
  top:536px;
  width:75px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
}
#u14340 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14341 {
  position:absolute;
  left:134px;
  top:604px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14342 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14343 {
  position:absolute;
  left:421px;
  top:603px;
  width:20px;
  height:20px;
}
#u14344 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14345 {
  position:absolute;
  left:134px;
  top:656px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14346 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14347 {
  position:absolute;
  left:421px;
  top:654px;
  width:20px;
  height:20px;
}
#u14348 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14349 {
  position:absolute;
  left:134px;
  top:709px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14350 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14351 {
  position:absolute;
  left:421px;
  top:707px;
  width:20px;
  height:20px;
}
#u14352 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
