body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11423 {
  position:absolute;
  left:100px;
  top:28px;
  width:68px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11424 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u11425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11425 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11426 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11429 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:20px;
}
#u11430 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u11431 {
  position:absolute;
  left:416px;
  top:104px;
  width:25px;
  height:13px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u11432 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u11433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u11433 {
  position:absolute;
  left:265px;
  top:104px;
  width:50px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u11434 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u11435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u11435 {
  position:absolute;
  left:107px;
  top:105px;
  width:15px;
  height:10px;
}
#u11436 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u11437 {
  position:absolute;
  left:126px;
  top:106px;
  width:13px;
  height:9px;
}
#u11438 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u11439 {
  position:absolute;
  left:402px;
  top:103px;
  width:8px;
  height:14px;
}
#u11440 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u11441 {
  position:absolute;
  left:446px;
  top:105px;
  width:25px;
  height:11px;
}
#u11442 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(106, 106, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11443 {
  position:absolute;
  left:100px;
  top:120px;
  width:375px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11444 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u11445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11445 {
  position:absolute;
  left:113px;
  top:126px;
  width:20px;
  height:20px;
}
#u11446 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:220px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11447 {
  position:absolute;
  left:100px;
  top:152px;
  width:375px;
  height:220px;
}
#u11448 {
  position:absolute;
  left:2px;
  top:102px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11449 {
  position:absolute;
  left:222px;
  top:279px;
  width:131px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11450 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u11451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11451 {
  position:absolute;
  left:113px;
  top:393px;
  width:59px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11452 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u11453 {
  position:absolute;
  left:100px;
  top:421px;
  width:375px;
  height:1px;
}
#u11454 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11455 {
  position:absolute;
  left:113px;
  top:438px;
  width:160px;
  height:128px;
}
#u11456 {
  position:absolute;
  left:2px;
  top:56px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11457 {
  position:absolute;
  left:295px;
  top:438px;
  width:160px;
  height:128px;
}
#u11458 {
  position:absolute;
  left:2px;
  top:56px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11459 {
  position:absolute;
  left:127px;
  top:458px;
  width:22px;
  height:78px;
}
#u11460 {
  position:absolute;
  left:2px;
  top:8px;
  width:18px;
  word-wrap:break-word;
}
#u11461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11461 {
  position:absolute;
  left:113px;
  top:541px;
  width:160px;
  height:25px;
}
#u11462 {
  position:absolute;
  left:2px;
  top:5px;
  width:156px;
  word-wrap:break-word;
}
#u11463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11463 {
  position:absolute;
  left:113px;
  top:576px;
  width:160px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11464 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u11465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u11465 {
  position:absolute;
  left:113px;
  top:604px;
  width:39px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u11466 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u11467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11467 {
  position:absolute;
  left:295px;
  top:576px;
  width:160px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11468 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u11469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u11469 {
  position:absolute;
  left:295px;
  top:604px;
  width:39px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u11470 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u11471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:122px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11471 {
  position:absolute;
  left:113px;
  top:645px;
  width:160px;
  height:122px;
}
#u11472 {
  position:absolute;
  left:2px;
  top:53px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:122px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11473 {
  position:absolute;
  left:295px;
  top:645px;
  width:160px;
  height:122px;
}
#u11474 {
  position:absolute;
  left:2px;
  top:53px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
