body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14020 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14021 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.576470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14022 {
  position:absolute;
  left:100px;
  top:120px;
  width:375px;
  height:647px;
}
#u14023 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14026 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:20px;
}
#u14027 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u14028 {
  position:absolute;
  left:416px;
  top:104px;
  width:25px;
  height:13px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u14029 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14030 {
  position:absolute;
  left:265px;
  top:104px;
  width:50px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14031 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u14032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u14032 {
  position:absolute;
  left:107px;
  top:105px;
  width:15px;
  height:10px;
}
#u14033 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u14034 {
  position:absolute;
  left:126px;
  top:106px;
  width:13px;
  height:9px;
}
#u14035 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u14036 {
  position:absolute;
  left:402px;
  top:103px;
  width:8px;
  height:14px;
}
#u14037 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u14038 {
  position:absolute;
  left:446px;
  top:105px;
  width:25px;
  height:11px;
}
#u14039 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:182px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.658823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14040 {
  position:absolute;
  left:100px;
  top:120px;
  width:375px;
  height:182px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14041 {
  position:absolute;
  left:2px;
  top:83px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14042 {
  position:absolute;
  left:113px;
  top:126px;
  width:20px;
  height:20px;
}
#u14043 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14044 {
  position:absolute;
  left:100px;
  top:28px;
  width:160px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14045 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u14046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14046 {
  position:absolute;
  left:100px;
  top:60px;
  width:38px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14047 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14048 {
  position:absolute;
  left:100px;
  top:719px;
  width:375px;
  height:48px;
  font-size:14px;
  color:#FFFFFF;
}
#u14049 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  word-wrap:break-word;
}
#u14050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14050 {
  position:absolute;
  left:561px;
  top:60px;
  width:38px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14051 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14052 {
  position:absolute;
  left:101px;
  top:302px;
  width:373px;
  height:120px;
}
#u14053 {
  position:absolute;
  left:2px;
  top:52px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14054 {
  position:absolute;
  left:101px;
  top:440px;
  width:373px;
  height:101px;
}
#u14055 {
  position:absolute;
  left:2px;
  top:42px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14056 {
  position:absolute;
  left:101px;
  top:561px;
  width:373px;
  height:151px;
}
#u14057 {
  position:absolute;
  left:2px;
  top:68px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14058 {
  position:absolute;
  left:113px;
  top:320px;
  width:81px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14059 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14060 {
  position:absolute;
  left:113px;
  top:358px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14061 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:17px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14062 {
  position:absolute;
  left:182px;
  top:359px;
  width:273px;
  height:17px;
}
#u14063 {
  position:absolute;
  left:2px;
  top:0px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:17px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14064 {
  position:absolute;
  left:113px;
  top:386px;
  width:342px;
  height:17px;
}
#u14065 {
  position:absolute;
  left:2px;
  top:0px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14066 {
  position:absolute;
  left:182px;
  top:464px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14067 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14068 {
  position:absolute;
  left:349px;
  top:464px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14069 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u14070 {
  position:absolute;
  left:284px;
  top:475px;
  width:1px;
  height:18px;
}
#u14071 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14072 {
  position:absolute;
  left:175px;
  top:497px;
  width:45px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14073 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u14074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14074 {
  position:absolute;
  left:341px;
  top:497px;
  width:75px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14075 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(88, 79, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14076 {
  position:absolute;
  left:113px;
  top:578px;
  width:20px;
  height:20px;
}
#u14077 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14078 {
  position:absolute;
  left:202px;
  top:577px;
  width:75px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14079 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14080 {
  position:absolute;
  left:202px;
  top:609px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14081 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#584F62;
}
#u14082 {
  position:absolute;
  left:140px;
  top:578px;
  width:38px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#584F62;
}
#u14083 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(88, 79, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14084 {
  position:absolute;
  left:113px;
  top:643px;
  width:20px;
  height:20px;
}
#u14085 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14086 {
  position:absolute;
  left:202px;
  top:642px;
  width:75px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14087 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14088 {
  position:absolute;
  left:202px;
  top:674px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14089 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#584F62;
}
#u14090 {
  position:absolute;
  left:140px;
  top:643px;
  width:38px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#584F62;
}
#u14091 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14092 {
  position:absolute;
  left:561px;
  top:100px;
  width:375px;
  height:1106px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14093 {
  position:absolute;
  left:2px;
  top:545px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1038px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.576470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14094 {
  position:absolute;
  left:561px;
  top:120px;
  width:375px;
  height:1038px;
}
#u14095 {
  position:absolute;
  left:2px;
  top:511px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14098 {
  position:absolute;
  left:561px;
  top:100px;
  width:375px;
  height:20px;
}
#u14099 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u14100 {
  position:absolute;
  left:877px;
  top:104px;
  width:25px;
  height:13px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u14101 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14102 {
  position:absolute;
  left:726px;
  top:104px;
  width:50px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u14103 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u14104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u14104 {
  position:absolute;
  left:568px;
  top:105px;
  width:15px;
  height:10px;
}
#u14105 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u14106 {
  position:absolute;
  left:587px;
  top:106px;
  width:13px;
  height:9px;
}
#u14107 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u14108 {
  position:absolute;
  left:863px;
  top:103px;
  width:8px;
  height:14px;
}
#u14109 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u14110 {
  position:absolute;
  left:907px;
  top:105px;
  width:25px;
  height:11px;
}
#u14111 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:182px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.658823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14112 {
  position:absolute;
  left:561px;
  top:120px;
  width:375px;
  height:182px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14113 {
  position:absolute;
  left:2px;
  top:83px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14114 {
  position:absolute;
  left:574px;
  top:126px;
  width:20px;
  height:20px;
}
#u14115 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14116 {
  position:absolute;
  left:561px;
  top:1158px;
  width:375px;
  height:48px;
  font-size:14px;
  color:#FFFFFF;
}
#u14117 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  word-wrap:break-word;
}
#u14118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14118 {
  position:absolute;
  left:562px;
  top:302px;
  width:373px;
  height:120px;
}
#u14119 {
  position:absolute;
  left:2px;
  top:52px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14120 {
  position:absolute;
  left:562px;
  top:440px;
  width:373px;
  height:101px;
}
#u14121 {
  position:absolute;
  left:2px;
  top:42px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14122 {
  position:absolute;
  left:562px;
  top:561px;
  width:373px;
  height:151px;
}
#u14123 {
  position:absolute;
  left:2px;
  top:68px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14124 {
  position:absolute;
  left:574px;
  top:320px;
  width:81px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14125 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14126 {
  position:absolute;
  left:574px;
  top:358px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14127 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:17px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14128 {
  position:absolute;
  left:643px;
  top:359px;
  width:273px;
  height:17px;
}
#u14129 {
  position:absolute;
  left:2px;
  top:0px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:17px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14130 {
  position:absolute;
  left:574px;
  top:386px;
  width:342px;
  height:17px;
}
#u14131 {
  position:absolute;
  left:2px;
  top:0px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14132 {
  position:absolute;
  left:643px;
  top:464px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14133 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14134 {
  position:absolute;
  left:810px;
  top:464px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14135 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u14136 {
  position:absolute;
  left:745px;
  top:475px;
  width:1px;
  height:18px;
}
#u14137 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14138 {
  position:absolute;
  left:636px;
  top:497px;
  width:45px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14139 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u14140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14140 {
  position:absolute;
  left:802px;
  top:497px;
  width:75px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14141 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(88, 79, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14142 {
  position:absolute;
  left:574px;
  top:578px;
  width:20px;
  height:20px;
}
#u14143 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14144 {
  position:absolute;
  left:663px;
  top:577px;
  width:75px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14145 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14146 {
  position:absolute;
  left:663px;
  top:609px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14147 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#584F62;
}
#u14148 {
  position:absolute;
  left:601px;
  top:578px;
  width:38px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#584F62;
}
#u14149 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(88, 79, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14150 {
  position:absolute;
  left:574px;
  top:643px;
  width:20px;
  height:20px;
}
#u14151 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14152 {
  position:absolute;
  left:663px;
  top:642px;
  width:75px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14153 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14154 {
  position:absolute;
  left:663px;
  top:674px;
  width:30px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.658823529411765);
}
#u14155 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#584F62;
}
#u14156 {
  position:absolute;
  left:601px;
  top:643px;
  width:38px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#584F62;
}
#u14157 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14158 {
  position:absolute;
  left:562px;
  top:735px;
  width:373px;
  height:381px;
}
#u14159 {
  position:absolute;
  left:2px;
  top:182px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:97px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14161 {
  position:absolute;
  left:574px;
  top:772px;
  width:342px;
  height:97px;
}
#u14162 {
  position:absolute;
  left:2px;
  top:40px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:36px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14163 {
  position:absolute;
  left:574px;
  top:785px;
  width:104px;
  height:28px;
}
#u14164 {
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14165 {
  position:absolute;
  left:591px;
  top:790px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14166 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14167 {
  position:absolute;
  left:591px;
  top:821px;
  width:87px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14168 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u14169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14169 {
  position:absolute;
  left:591px;
  top:842px;
  width:124px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14170 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u14171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:97px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14172 {
  position:absolute;
  left:574px;
  top:902px;
  width:342px;
  height:97px;
}
#u14173 {
  position:absolute;
  left:2px;
  top:40px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:36px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14174 {
  position:absolute;
  left:574px;
  top:915px;
  width:104px;
  height:28px;
}
#u14175 {
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14176 {
  position:absolute;
  left:591px;
  top:920px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14177 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14178 {
  position:absolute;
  left:591px;
  top:951px;
  width:87px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14179 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u14180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14180 {
  position:absolute;
  left:591px;
  top:972px;
  width:124px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14181 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u14182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:97px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14183 {
  position:absolute;
  left:574px;
  top:1032px;
  width:342px;
  height:97px;
}
#u14184 {
  position:absolute;
  left:2px;
  top:40px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:36px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14185 {
  position:absolute;
  left:574px;
  top:1045px;
  width:104px;
  height:28px;
}
#u14186 {
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14187 {
  position:absolute;
  left:591px;
  top:1050px;
  width:87px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14188 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u14189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14189 {
  position:absolute;
  left:591px;
  top:1081px;
  width:87px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14190 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u14191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14191 {
  position:absolute;
  left:591px;
  top:1102px;
  width:124px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14192 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
