body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17074 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17075 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17078 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:20px;
}
#u17079 {
  position:absolute;
  left:0px;
  top:2px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u17080 {
  position:absolute;
  left:416px;
  top:104px;
  width:25px;
  height:13px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u17081 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u17082 {
  position:absolute;
  left:265px;
  top:104px;
  width:50px;
  height:13px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u17083 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u17084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u17084 {
  position:absolute;
  left:107px;
  top:105px;
  width:15px;
  height:10px;
}
#u17085 {
  position:absolute;
  left:0px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u17086 {
  position:absolute;
  left:126px;
  top:106px;
  width:13px;
  height:9px;
}
#u17087 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u17088 {
  position:absolute;
  left:402px;
  top:103px;
  width:8px;
  height:14px;
}
#u17089 {
  position:absolute;
  left:0px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u17090 {
  position:absolute;
  left:446px;
  top:105px;
  width:25px;
  height:11px;
}
#u17091 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17092 {
  position:absolute;
  left:100px;
  top:28px;
  width:123px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17093 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u17094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u17094 {
  position:absolute;
  left:100px;
  top:120px;
  width:375px;
  height:32px;
  font-size:14px;
  color:#000000;
}
#u17095 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u17096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17096 {
  position:absolute;
  left:113px;
  top:126px;
  width:20px;
  height:20px;
}
#u17097 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:615px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17098 {
  position:absolute;
  left:100px;
  top:152px;
  width:375px;
  height:615px;
}
#u17099 {
  position:absolute;
  left:2px;
  top:300px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17101 {
  position:absolute;
  left:100px;
  top:152px;
  width:375px;
  height:104px;
}
#u17102 {
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u17103 {
  position:absolute;
  left:100px;
  top:204px;
  width:375px;
  height:1px;
}
#u17104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17105 {
  position:absolute;
  left:113px;
  top:169px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17106 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17107 {
  position:absolute;
  left:113px;
  top:220px;
  width:73px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17108 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u17110 {
  position:absolute;
  left:412px;
  top:163px;
  width:48px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u17111 {
  position:absolute;
  left:0px;
  top:6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17112_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:29px;
  height:29px;
}
#u17112 {
  position:absolute;
  left:433px;
  top:165px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
}
#u17113 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17115 {
  position:absolute;
  left:374px;
  top:222px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17116 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17117 {
  position:absolute;
  left:438px;
  top:220px;
  width:20px;
  height:20px;
}
#u17118 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17120 {
  position:absolute;
  left:100px;
  top:274px;
  width:375px;
  height:104px;
}
#u17121 {
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u17122 {
  position:absolute;
  left:100px;
  top:326px;
  width:375px;
  height:1px;
}
#u17123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17124 {
  position:absolute;
  left:113px;
  top:291px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17125 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17126 {
  position:absolute;
  left:113px;
  top:342px;
  width:87px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17127 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u17128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u17129 {
  position:absolute;
  left:412px;
  top:285px;
  width:48px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u17130 {
  position:absolute;
  left:0px;
  top:6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17131_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:29px;
  height:29px;
}
#u17131 {
  position:absolute;
  left:433px;
  top:287px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
}
#u17132 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u17134 {
  position:absolute;
  left:412px;
  top:337px;
  width:48px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u17135 {
  position:absolute;
  left:0px;
  top:6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17136_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:29px;
  height:29px;
}
#u17136 {
  position:absolute;
  left:413px;
  top:339px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
}
#u17137 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17138 {
  position:absolute;
  left:113px;
  top:388px;
  width:352px;
  height:27px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17139 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  white-space:nowrap;
}
#u17140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17141 {
  position:absolute;
  left:100px;
  top:434px;
  width:375px;
  height:50px;
}
#u17142 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17143 {
  position:absolute;
  left:113px;
  top:451px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17144 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17146 {
  position:absolute;
  left:438px;
  top:450px;
  width:20px;
  height:20px;
}
#u17147 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17149 {
  position:absolute;
  left:100px;
  top:504px;
  width:375px;
  height:53px;
}
#u17150 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17151 {
  position:absolute;
  left:113px;
  top:521px;
  width:59px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17152 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u17154 {
  position:absolute;
  left:412px;
  top:515px;
  width:48px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u17155 {
  position:absolute;
  left:0px;
  top:6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17156_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:29px;
  height:29px;
}
#u17156 {
  position:absolute;
  left:433px;
  top:517px;
  width:25px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
}
#u17157 {
  position:absolute;
  left:0px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17159 {
  position:absolute;
  left:100px;
  top:578px;
  width:375px;
  height:50px;
}
#u17160 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17161 {
  position:absolute;
  left:113px;
  top:595px;
  width:73px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17162 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17165 {
  position:absolute;
  left:438px;
  top:594px;
  width:20px;
  height:20px;
}
#u17166 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17167 {
  position:absolute;
  left:384px;
  top:595px;
  width:44px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17168 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
